<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/ecommerce-banner-cvssolutions.jpg">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					
					<p>Today’s competitive e-commerce environment is constantly changing, so professional Magento Website Maintenance, Measure and Upgrade (MWM) services for your site are a key element for business success</p>
					<p>Updates and changes on your website are vital for your business, showing outdated information and outdated eCommerce features offer a competitive advantage to your competitors. Keep your website up to date for your new customers and keep the old ones coming back for more!

Our goal is to help you maximize the value of your eCommerce investment. Kris professional MWM services and consultants work with our customers and partners to</p>
					
					
					<ul class="list-group">
				  		<li class="list-group-item">Magento Enterprise Edition Maintenance Plans</li>
				  		<li class="list-group-item">Update of your current designs</li>
				  		<li class="list-group-item">Optimize your website with “best of breed” Gproxy’s Magento eCommerce services.</li>
				  		<li class="list-group-item">Fix bugs and tune websites.</li>
				  		<li class="list-group-item">Magento Community and Enterprise version upgrades</li>
				  		<li class="list-group-item">Enhance your visual performance through flash animations and up to date designs</li>
				  		<li class="list-group-item">Keep your website high in all popular search engines like Google and Yahoo. Search Engine Optimization (SEO)</li>
				  		<li class="list-group-item">Implement proven eCommerce marketing strategies.</li>
					</ul>
					<p>Kris's Maintenance, Measure and Upgrade service staff have extensive experience with Magento. cime’s brings together a wide range of capabilities from project management, to business and technical consulting, to dynamic design. Our proven methodology is based on our experience and best practices obtained from successfully managing over 450 eCommerce projects. Ecommerce Website Development Company offer flexible plans that are easily adapted to the specifics of your project and budget.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>