<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/ecommerce-banner-cvssolutions.jpg">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<img src="images/Ecomimg.png">
					<p>To reach one end of globe from other end made easy by electronic media. Want to showcase your products and to sell to the entire planet, you need an e-commerce website which is reliable and secure. World is running in inexpressible speed so nobody wants to invest more time on shopping physically so there is a increasing demand of e-commerce solution. KRIS INFOTECH SOLUTIONS offer you to enroll your business for this demand. KRIS INFOTECH SOLUTIONS design e-commerce website based on need for individual products. It gives you safe and smooth transaction. KRIS INFOTECH SOLUTIONS offers you inexpensive, secure and reliable e-commerce website, which will be simple to use by large number of online customers.</p>

					
					<div class="panel-sub-heading"><h3>We use following platforms for our E-commerce solutions:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">Magento</li>
				  		<li class="list-group-item">OpenCart</li>
				  		<li class="list-group-item">joomla</li>
				  		<li class="list-group-item">Zen cart</li>
				  		<li class="list-group-item">Cubecart</li>
					</ul>
<p>We reaching to customer gives you edge of success over your competitor waiting for customer to reach them. A person who does this e-shopping wants their time to be used constructively not to mess-up with lot of complex procedure. KRIS INFOTECH SOLUTIONS understand value of their need and addressing by giving them trouble free and safe e-commerce solutions. It gives you lot of edges over your competitor by making your products available in this forum and chances of huge number of customer can get to know about your product. You can get invaluable customers feedback about your product. Our expert team will achieve this for you by designing inexpensive e-commerce website. So, give us a chance to achieve your magic sales figure.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>