<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/ecommerce-banner-cvssolutions.jpg">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					
					<p>Kris InfoTech solutions believe that we are the only company in India which offers a complete one stop solution to clients who are considering building an ecommerce website. Based in Inida, we can provide the highest level of expertise in the following areas; ecommerce web design, usability (making your web-site user friendly), ecommerce marketing (driving customers to your shop), ecommerce business planning ( invoicing and stock control), ecommerce payment schemes (allowing you to accept a wide variety of online payments) ecommerce fulfillment (this covers packaging materials and delivery services throughout the UK and internationally).</p>
					
					

					<p>Our web designers create ecommerce websites that provide an ideal way to get your business up and selling with a great looking site and we can advise on all aspects of online trading - providing help and advice for setting everything up to get you selling as quickly as possible.</p>

					<p>Create an ecommerce site design as unique as your business. Whether your site needs a makeover or a quick touchup, our professional designers will work closely with you to turn your vision into reality.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>