<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-4.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>Our affordable Email Marketing solution practically pays for itself with free coaching plus online and local education from small business experts. Maybe that's why Constant Contact is trusted by more than 500,000 customers worldwide.</p>

					<p>One problem with email marketing is that even a tiny mistake or a misplaced keyword could mean that your email will end up in the spam folder. There are a number of apps that help you to maintain the balance between being informative and less annoying. Today we’ve rounded up a list of prominent players in the marketing & promotion field, after the break.</p>

					<p>From ElementFusion the creators of Light CMS, comes Breeze, a Web 2.0 email marketing & promotion app with a rich user interface. They follow the same pricing model of Campaign Monitor and you pay a flat delivery fee of $10 plus 2 cents per recipient if the list has more than 5 addresses.</p>

					<p>Campaigner marketing & promotion web app is designed for small businesses. 97% of Campaigner emails are delivered to email inboxes and not the spam folders. A free trial with unlimited emails is available for those testing the service.</p>

					<p>Monthly newsletters, invitations, promos and more can be sent with Emma’s real-time response tracking, to keep track of who’s opening, clicking, signing up and more. They also offer premium custom email template services to make your brand stand out. A free trial account cannot be set up without contacting the Emma team first.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>