<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>Kris InfoTech offer best web development and we are one of the leading web development companies in the industry. Here we have great team of web developers who provide you with best website development services. Our customers can easily compare our service charges with other leading web development companies. The experienced and professional development team is dedicated and devoted to deliver the project right on time.</p>
<p>
The name of the company “Kris InfoTech Solutions” was derived after lot of discussion among the team members and lot of ideas were brain stormed to finalize the name as kris. The dictionary meaning of the word “kris” is mentioned as “a flower cluster with a central stem bearing a single terminal flower that develops first, the other flowers in the cluster developing as terminal buds of lateral stems”. As the name suggests our company has several cells each performing particular functions towards acquiring a targeted goal and achieving the success. In other words, our organization is a cluster of ignited minds for Engineering Research and Technology solutions.</p>
<p>
We guarantee that you will never get such great quality services elsewhere. Here at our organization we prefer working with such skilled people who have at least 5 years of industry experience. We aim to deliver the projects right on time and also at one go.</p>
<p>
The prime motivation behind the foundation of the Indian registered company is to provide sustainable solutions to our clients situated at different geographical locations in the country. The idea of assisting the ignited minds of the nation in building strong personality and be a good competitor in the current market. We shall encourage the training programmes and entrepreneurship among the individuals towards steady growth of the nation.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>