<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- give full path without including views as views is the default path -->
    <% include partials/page/head.ejs %>

  </head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <% include partials/page/slider.ejs %>
	    <div class='container home_welcome'>
	    	<% include partials/page/home_welcome.ejs %>	       	
	    	<% include partials/page/home_focus.ejs %>	 
			<% include partials/page/home_middle_part.ejs %> 
			<% include partials/page/module_slider.ejs %> 
	    </div>
	    <div class=''>
	    	       	
			
	    </div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>