<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>In marketing, lead generation is the generation of consumer interest or inquiry into products or services of a business. Leads can be generated for purposes such as list building, e-newsletter list acquisition or for sales leads. The methods for generating leads typically fall under the umbrella of advertising, but may also include non-paid sources such as organic search engine results or referrals from existing customers. Businesses strive to generate 'quality' leads. Quality is usually determined by the propensity of the inquirer to take the next action towards a purchase.</p>

<p>Lead generation is the process of creating sales leads which might convert into sale for the company. The leads may come from various sources or activities, for example, digitally via the Internet, through calls, through advertisement and list purchase. Companies may also rely on referrals, telemarketers, and advertisements to generate leads.</p>

<p>Lead generation describes the marketing process of stimulating and capturing interest in a product or service for the purpose of developing sales pipeline.</p>

<p>Lead generation often uses digital channels, and has been undergoing substantial changes in recent years from the rise of new online and social techniques. In particular, the abundance of information readily available online has led to the rise of the “self-directed buyer” and the emergence of new techniques to develop and qualify.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>