<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					Logo speaks first more than your business do. It’s indeed great challenge to design Logo. It needs lot of understanding of your business domain and which way you can be differentiating from your competitor. Efficient Logo design will complete half the business. We understand this enormous task and equipped with people who can really do this for you. It needs mixing of graphical representation with human creativity. KRISINFOTECH SOLUTIONS guarantees you preparation of Logo which will be highlighted in your area of business. A word can be a Logo as well as Style of Letters can be a Logo and color of single letter can differentiate your business from others.
					<br><br>
					<img src="images/logoimg.png">
					<div class="panel-sub-heading"><h3>Our logo designing includes:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">corel draw</li>
				  		<li class="list-group-item">Adobe illustrator</li>
				  		<li class="list-group-item">Adobe Photoshop</li>
					</ul>
					<p>Designing logo is like naming your baby. Logo design involves careful application of technical tool. KRISINFOTECH SOLUTIONS has experienced set of professional who can handle this complicated tool. Crux of matter is to create easy to remember Logo design. Process of making can be involving of complicated tools but output will be Simple and meaningful LOGO. We design your LOGO and allows it to speak for itself. Well-designed LOGO will increase your business deals and income. Why are you waiting for then? Enroll yourself with us to create your edge of success in your business, by the form of Simple, Unique and business oriented LOGO design.</p>
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>