<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/ecommerce-banner-cvssolutions.jpg">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>Kris InfoTech solutions can provide you with quality Joomla,On Megento and opencart website design & website development solutions. Joomla,On Megento and opencart eCommerce is a new Open Source platform with industry-leading features to provide merchants with unprecedented control over store operations. This Open Source eCommerce software is very powerful and includes many features that have not been seen in Open Source products before. Joomla eCommerce is one of the fastest growing new software, and looks set to become a dominant force in the eCommerce industry.</p>

<p>Joomla,On Megento and opencart in short, is the best piece of ecommerce software available online for online shops and stores. Every major web magazine, online publication and important developer says so. The website and stock management functionality is stable, useable and far reaching in its capability. We can push the boundaries of the system and Joomla plug-in development to provide you with exactly what you want, tailored for your e-commerce website.</p>

<p>Joomla,On Megento and opencart eCommerce is one of the most feature rich eCommerce platforms available. View the full feature ls Being Open Source, websites designed in Joomla,On Megento and opencart can be built for a fraction of the cost of a comparative commercial eCommerce website and you pay no license fees.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>