<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-4.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>Krisinfotech solutions Marketing & Media Services offers its clients a unique approach to consumer acquisition marketing through research, strategies, media placement and customer/lead engagement solutions. From established companies (some Fortune 500) to start-ups, Krisinfotech solutions delivers measurable results designed to meet clients’ sales and revenue goals while providing a diverse level of service expertise.</p>

<p>There are so many benefits to having your business out in the social media world. You can read about some of those benefits in our articles on social media. When you embrace this fast-moving technology, it shows your current clientele that you are moving your business in a positive direction by staying up to date with current technological upgrades. With social media releases, you can also reach a larger audience and possibly entice a new demographic. When you use social media networking as part of your marketing campaign, getting your image or idea to the public is easier than if you were to use, let's say, a press release.</p>

<p>All these things will come together for the good of your company. It takes time and it takes the right marketing company to do it right. There are plenty of social media marketing companies out there, such as WebiMax, Custard Media and Netmark, and when you're searching for the right one, there are a few features you should look for.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>