<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-4.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					<p>krisinfotech solutions provides a complete social marketing package that includes advertising, personal selling, public relations, publicity, direct marketing and sales promotion.Social media marketing refers to the process of gaining website traffic or attention through social media sites. Social media itself is a catch-all term for sites that may provide radically different social actions. For instance, Twitter is a social site designed to let people share short messages or “updates” with others. Facebook, in contrast is a full-blown social networking site that allows for sharing updates, photos, joining events and a variety of other activities. Why would a search marketer — or a site about search engines — care about social media? The two are very closely related. Social media often feeds into the discovery of new content such as news stories, and “discovery” is a search activity. Social media can also help build links that in turn support into SEO efforts. Many people also perform searches at social media sites to find social media content. Social media marketing programs usually center on efforts to create content that attracts attention and encourages readers to share it with their social networks. A corporate message spreads from user to user and presumably resonates because it appears to come from a trusted, third-party source, as opposed to the brand or company itself. Hence, this form of marketing is driven by word-of-mouth, meaning it results in earned media rather than paid media.</p>

<p>Social media is a platform that is easily accessible to anyone with internet access. Increased communication for organizations fosters brand awareness and often, improved customer service. Additionally, social media serves as a relatively inexpensive platform for organizations to implement marketing campaigns.</p>

<p>Social networking websites allow individuals to interact with one another and build relationships. When companies join the social channels, consumers can interact with them. That interaction feels personal to users because of their previous experiences with social networking site interactions.</p>

<p>Social networking sites and blogs allow individual followers to “retweet” or “repost” comments made by the product being promoted. By repeating the message, all of the users connections are able to see the message, therefore reaching more people. Social networking sites act as word of mouth. Because the information about the product is being put out there and is getting repeated, more traffic is brought to the product/company.</p>

<p>Social networking sites also include a vast amount of information about what products and services prospective clients might be interested in. Through the use of new Semantic Analysis technologies, marketers can detect buying signals, such as content shared by people and questions posted online. Understanding of buying signals can help sales people target relevant prospects and marketers run micro-targeted campaigns.</p>

<p>Social media has become a platform that is easily accessible to anyone with internet access. Increased communication for organizations fosters brand awareness and often, improved customer service. Additionally, social media serves as a relatively inexpensive platform for organizations to implement marketing campaigns.</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>