<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-1.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					
					<p>The best things in life are free and that sadly is a utopian concept. We at GSS believe in the Jeffersonian school of thought - the harder we work the more luck we seem to have. Navigating the job bazaar however, can be mind-boggling and overwhelming for even the most earnest seeker. If you are a corporate recruiter searching for months together for just the right talent or an individual applicant disillusioned with the online jobs portals, you need not have to look beyond GSS. As Arthur Canon Doyle remarks, "Skill is fine, and genius is splendid, but the right contacts are more valuable than either."</p>

					<p>When you come to GSS, we offer you not jobs but a confidante who helps you realize the power of options. We are a team of accomplished recruiters proficient at matching the perfect job with the perfect candidate and we realize that just as our co-dependence is inter-twined so is our success.</p>
					<div class="panel-sub-heading"><h3>Our services include:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">Board level appointments/Executive search</li>
				  		<li class="list-group-item">Information Technology</li>
				  		<li class="list-group-item">Financial services</li>
				  		<li class="list-group-item">BPO | KPO (Business Process Outsourcing | Knowledge Process Outsourcing)</li>
				  		<li class="list-group-item">Engineering and Infrastructure</li>
				  		<li class="list-group-item">Healthcare Services</li>
					</ul>
<p>To be the one of the world’s leading professional recruitment and talent management solutions provider by adopting the most stringent and confidential procedures to select the perfect candidates for you. Our goal is to participate in your success by empowering you with people whom you can trust to be your agents for delivery and change. Finland Driver</p>
					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>