<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/ecommerce-banner-cvssolutions.jpg">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					
					<p>Magento is the recent open-source eCommerce platform that provides merchants with a sophisticated software platform to manage their online sales with extraordinary flexibility and control. Main goal of magento is to provide store owners a remarkably wide range of flexibility and control over the look, content, and functionality of an Online Store. It combines the flexibility of open source technology with industry leading features to provide merchants unprecedented control over the store.</p>
					<p>Kris infotech solutions provides you custom service of magento theme customization and template design. ECommerce Development Company professionally design templates for your online store to make it compatible with magento platform. Our designers and programmers always follow web 2.0 website design styles to make your store different from others. We also provide resource hiring facility to complete your magento integration including theme design, programming, payment gateway integration and customization of magento ecommerce platform.</p>
					
					<div class="panel-sub-heading"><h3>Our magento customization service comprise:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">Magento theme customization</li>
				  		<li class="list-group-item">Magento template design</li>
				  		<li class="list-group-item">PSD to magento customization</li>
				  		<li class="list-group-item">Search engine optimization for online store using magento</li>
				  		<li class="list-group-item">Magento store management training</li>
				  		<li class="list-group-item">Magento backend training</li>
				  		<li class="list-group-item">Magento installation</li>
				  		<li class="list-group-item">Redesign eCommerce Store</li>
					</ul>

					<br><br>
					
					
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>