<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					Bird needs two wings to fly high and balanced. So, you need both Business thinking and Web designing as two wings to fly high in your business domain. Need for any Website includes, it should open fast, languages used should be simple and has to convey what it says in a single page. Basis for effective communication is to communicate in the easiest way. Kris understands all this and create Web site based on your need which will reflects what do you want to convey to the customers in the most easiest and convenient way. Effective teaching is by teaching with Picture, Kris create Website with the help of theme oriented picture, which will explain our website theme
					<br>
					<img src="images/webdsnimg1.png">
					<div class="panel-sub-heading"><h3>We utilize following technologies for our Web Designing process:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">Adobe Photoshop</li>
				  		<li class="list-group-item">Adobe Dreamweaver</li>
				  		<li class="list-group-item">Adope Illustrator</li>
				  		<li class="list-group-item">Html,HTML5,Xhtml and CSS</li>
					</ul>
					
					<p>When you are in Rome be a Roman says the proverb, so when the world is moving with technology why not to take part in it. So let your business start to speak to the entire World by effective Web site. As you know Success in the business comes by doing things differently with your competitor. We give you the hedge over your competitor for success by creating simple but not easy website. KRIS design Your Website by mixing software tool with Hardware human mind .Well start activity defined by good finishing. So, give us the opportunity to complete well, your Business dream by designing Effective Website. KRIS Will take small space in your dream but leaves big success. </p>
				</div>
			</div>
			
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>