<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3><%=title%></h3></div>		
				<div class="panel-body">
					We have dedicated and skilled human mind which will be doing Web development for you.Our aim is to give you, as customers, continuous support in developing and maintaining dedicated website carefully craft for your business enhancement. BWDC has expertise who can work with you to understand your time to time needs and get back to you with effective Web development. We Capture all your thoughts and coloring your thoughts and create before you as best ever Website.
					<br><br>
					<div class="panel-sub-heading"><h3>Our range of Web Development services includes:</h3></div>
					<ul class="list-group">
				  		<li class="list-group-item">PHP Development</li>
				  		<li class="list-group-item">Wordpress Development</li>
				  		<li class="list-group-item">Joomla Development</li>
				  		<li class="list-group-item">Drupal Development</li>
				  		<li class="list-group-item">ASP.NET</li>
				  		<li class="list-group-item">Java Script</li>
					</ul>
					<p>Once you have discussed your entire business plan with us we work to develop your thoughts and make it to take its own forms. We make sure through our expert team, your website will be continuously monitored and resolved your entire problem now and then.We strive to work with you so close to capture time to time evolved your business ideas. Once it has been given to us, not anymore it’s your Website but it’s ours. It’s better to cure disease rather than curing its symptoms. We do make sure trying to identify problem in depth rather than doing it superficially.</p>
					<img src="images/webdevimg1.png">
					<div class="panel-sub-heading"><h3>Our range of Web Development services includes:</h3></div>
					
					<p>In business we target for the entire segment. Why not in Webdesigning. In KRIS your website will be targeting for entire segment of people who uses different browsers. When you want to expand your business, you would like to reach out to the maximum. In KRIS we design your website and will make it compatible with lot of Browsers. In this way your website will reach to the maximum. We develop our website to break its cross border by making it cross browser compatible with all the browser. Our expertise Developing team will design your website and keeping it updated by all the means. Our aim is to give you cost effective web development, at the same time not compromising in the quality aspects.</p>
				</div>
			</div>
			<% include partials/page/home_focus.ejs %>	
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>