<!DOCTYPE html>
<html lang="en">
	<head>
  		<!-- give full path without including views as views is the default path -->
    	<% include partials/page/head.ejs %>

  	</head>
	<body>
		<% include partials/page/header.ejs %>
		<% include partials/page/navigation.ejs %>
	    <!-- Make Up CONTENT STARTS HERE -->
	    <div id="" class="services_slider" >
	    	<img src="images/slider-2.png">
	    </div>
		<div class='container home_welcome'>	
			<div class="panel services-info">
				
				<div class="panel-heading"><h3>Web Design Services</h3></div>		
				<div class="panel-body">
					Kris solutions certified company, is extending its services in Website Designing, Website Development and Mobile application development. Our website and mobile development company in Bangalore is committed to provide Creative, Innovative and quick & quality Website Design Solutions, Web Development, E-Commerce Web Applications, Contract Web Designers, Website maintenance services and more along to all our customers at affordable prices. We are amongst the leading Web Development Companies in Bangalore, having 8+ years of Industry Experience. We are one of the reliable php based companies in Bangalore. We would like to echo the thoughts of Mahatma Gandhi, when he said: "A customer is the most important visitor on our premises; he is not dependent on us, we are dependent on him. He is not an interruption of our work; he is the purpose of it. We are not doing him a favor by serving him; he is doing us a favor by giving us the opportunity to do so". Kris, a Bangalore web design company, is delivering State-Of-The-Art services to any complexity of clients globally.Till date we have developed more than 1000+ websites.Please visit our portfolio here.
					<br><br>
					
					
				</div>
			</div>
			<% include partials/page/home_focus.ejs %>	
			<% include partials/page/module_slider.ejs %> 
		</div>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefault.ejs %>
	</body>
</html>