<!-- start : Footer -->
	<footer class="text-center">
		<div id="section5" class="footer-above">
			<div class="container">
				<div class="row">
					<div class="contact_us_header pull-left">
						
					</div>
				</div>
				<div class="row">
					<div class="footer-col col-md-4">
						<h4>Location</h4>
						<hr>
						<p>India Branch <br>
							Marathalli, Bangalore <br>
							Karnataka </p>
					</div>
					<div class="footer-col col-md-4">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a href="#" class="btn-social btn-outline" onclick="return false;"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline" onclick="return false;"><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline" onclick="return false;"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline" onclick="return false;"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline" onclick="return false;"><i class="fa fa-fw fa-dribbble"></i></a>
							</li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h4>Developer</h4>
						<hr>
						<p>Akshay Kumar Sahu <br>
							email : akshaysahu92@gmail.com <br>
							mob : +91-9880636679<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						© Copyright 2014 | All rights reserved.
					</div>
				</div>
			</div>
			</div>
	</footer>