<div class="main home_middle">
                           <div class="main-inner1 clearfix">
                <!-- SPOTLIGHT -->
<div style="width: 100%;" class="ja-box column ja-box-full">
    		<div class="module_allservices">
			<div>
				<div>
					<div>
											

<div class="custom_allservices">
	<div class="user">
<div class="top">
<div class="midcontent">
<h1>Web Design &amp; Devlopment</h1>
<p><strong>Kris InfoTech Solutions</strong> certified company, is extending its services in Website Designing, Website Development and Mobile application development.</p>
<div class="read"><a href="http://localhost/projects/krisinfotech/">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/web_development.png"></div>
</div>
<div class="midcontent">
<h1>E-commerce Development</h1>
<p><strong>Kris InfoTech Solutions </strong>can provide you with quality Magento,OpenCart and joomal website development solutions.eCommerce is a new Open Source platform with .</p>
<div class="read"><a href="http://localhost/projects/krisinfotech/">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/e-commerce-icon.png"></div>
</div>
<div class="midcontent">
<h1>Andriod Applocations</h1>
<p><strong>Kris InfoTech Solutions</strong> Android applications are written in the Java programming language. The Android SDK tools compile the code&mdash;along with any data and resource files&mdash;</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/icon4.png"></div>
</div>
</div>
<div class="midle">
<div class="midcontent">
<h1>Java Development</h1>
<p><strong>Kris InfoTech Solutions</strong> Dedicated Java developers at Xicom possess technical know-how and deliver high-end Java applications that suffice various business requisites.</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/java1.png"></div>
</div>
<div class="midcontent">
<h1>Desktop Applications</h1>
<p><strong>Kris InfoTech Solutions</strong> engage in designing and building Desktop applications that involve Visual Basic development, C# development, VB.NET development, ASP.NET.</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg2"><img border="0" alt="" src="/images/heading/software-development-icon-219.png"></div>
</div>
<div class="midcontent">
<h1>Courses offer..</h1>
<p><strong>Kris InfoTech Solutions</strong> When you train with us, you’re training with the very best in the business. Our people can train yours not only to recognize excellence.</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg1"><img border="0" alt="" src="/images/heading/bcc.png"></div>
</div>
</div>
<div class="bottom">
<div class="midcontent">
<h1>E-Mail Marketing &amp; promotion</h1>
<p><strong>Kris InfoTech Solutions</strong> Our affordable Email Marketing solution practically pays for itself with free coaching plus online and local education from small business experts.</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg3"><img border="0" alt="" src="/images/heading/Blog_MarketoWebinar.png"></div>
</div>
<div class="midcontent">
<h1>Social Media Marketing</h1>
<p><strong>Kris InfoTech Solutions</strong>&nbsp; provides a complete social marketing package that includes advertising, personal selling, public relations, publicity, direct marketing .</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/social_media_marketing.png"></div>
</div>
<div class="midcontent">
<h1>Leads Generations..</h1>
<p><strong>Kris InfoTech Solutions</strong> In marketing, lead generations the generation of consumer interest or inquiry into products or services of a business.Leads can be generated for purposes.</p>
<div class="read"><a href="/Read%20More..">Read More...</a></div>
<div class="immg"><img border="0" alt="" src="/images/heading/online-lead-generation.png"></div>
</div>
</div>
</div></div>
					</div>
				</div>
			</div>
		</div>
	
</div>
<!-- SPOTLIGHT -->

<script type="text/javascript">
    window.addEvent('load', function (){ equalHeight ('#ja-tops3 .ja-box') });
</script>                </div>
                            </div>