<div class="homepage_intro">
  <div class="module_contentwelcome" >	  								
      <h1>Welcome To Kris InfoTech Solutions...</h1>
      <p>The company is Kris InfoTech Solutions flourishing with glory of success and maintains its supremacy in the world market. The clients all around the globe witnessed the niche of rich quality and service. Our company has achieved good relationship among the clients which is the sign of excellence status for being best service oriented company. Our professionals are equipped with high creative knowledge and expertise in delivering the solutions to all our clients. Our acumen professional are constantly working for updating in order to assuage the latest needs and requirements for the global clients. Our company is ready to solve all your requirements and hasten the income of your business. The clients could experience the facility of receiving unlimited updates and advanced features to their websites.</p>

      <a data-toggle="modal" href="#readmore_krishinfotech">
        <img border="0" alt="" src="images/heading/readmore.png">
      </a>

  </div>
  <div class="module_marque" >  
    <h3>Testimonial</h3>
    <div class="mod_simple_marquee_content" >
      <div class="mooquee-text" id="mooquee-text" style="bottom: 62px;"><div class="one">
        <p>"The first point of contact was a</p>
        <p>explained by me and passed to the</p>
        <p>technical department,it was resolved </p>
        <p>well within reasonable expectations.</p> 
        <p> Now it appears the technical</p>
        <p>side is up to standard."</p>
      </div>
      <div class="user1">"kely dez...(USA)"</div>
      <div class="one">
        <p>Ref to web site,I outsource my web</p>
        <p>designto India because when i first</p>
        <p>contacted To KrisInfoTech,they</p>
        <p>provided us all detaile information</p>
        <p>in a very transparent way All this</p>
        <p>gave me more confidence to source</p>
        <p>this web designing job to company.</p>
        <p>I am very grateful to KrisInfoTech &amp;</p>
        <p>team they are done Nicely good job</p>
        <p>the lay out and graphic is very good."</p>
      </div>
      <div class="user1">"John Kirby...(UK)"</div>
      
      <div class="one">
        <p>"KrisInfoTech staff always been very</p>
        <p>helpful and supportive every time</p>
        <p>whenever I needed support before</p>
        <p>designing and after. I am very</p>
        <p> thankful for the work They have</p>
        <p>done and wish them very best wishes</p>
        <p>for the future ...."</p>
      </div>
      <div class="user1">"Sekh MD ALhubiya.(UAE)"</div>
      
      <div class="one">
        <p>"They were very responsive and</p>
        <p>worked fast to complete our project.</p>
        <p>As a Technology professional,I was</p>
        <p>very demanding of the quality of</p>
        <p>work we received and Thanks for</p>
        <p>wonderful and successful project."</p>
      </div>
      <div class="user1">"L.K Murthy(india)"</div></div>
    </div>
  </div>
</div>

<!-- start: model CrossPlatformIndependence -->
<div style="display: none;" class="portfolio-modal modal fade" id="readmore_krishinfotech" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
         <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Read More...</h4>
      </div>
      <div class="modal-body">
        <h4>Company Purposes:</h4>

The purpose of our company, which is a laboratory cum factory, is to produce high quality products and carry out research work for sustainable innovative products to improve the quality of life

<h4>Company Mission:</h4>

Our mission is to develop services and manufacture products based on available raw materials to contribute to the sustainable growth of the nation and reduce environmental pollution and also give a healthy life to the citizens of the nation by the use of green technology.
<h4>Company Vision</h4>

    Provide high quality product.
    <br>Develop superior customer service.
    <br>Encourage innovation/creativity.
    <br>Practice sustainable development.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- end: model CrossPlatformIndependence -->