<!-- start : Services -->
	<div id="home_services" class="container-fluid section3">

		<div class="mozaic-banners-wrapper type-2">
			<div class="row">
				<div class="banner-column col-md-4 col-sm-6">
					<a style="background-image: url(img/mozaic-banner-6.jpg);" class="mozaic-banner-entry type-3">
						<span class="mozaic-banner-content">
							<span class="subtitle">Services</span>
							<span class="title">Web Design</span>
							<span class="description">You get quality traffic from our list of handpicked long tail sites.You can bid on CPM/CPC.</span>
						</span>
					</a>
				</div>
				<div class="banner-column col-md-4 col-sm-6">
					<a style="background-image: url(img/mozaic-banner-7.jpg);" class="mozaic-banner-entry type-3">
						<span class="mozaic-banner-content">
							<span class="subtitle">Services</span>
							<span class="title">E-Mail Marketing</span>
							<span class="description">Video has been the fastest growing segment .We can target via player size,site wise and meet your viewability,completion and CTR goal.</span>
						</span>
					</a>
				</div>
				<div class="banner-column col-md-4 col-sm-12">
					<a style="background-image: url(img/mozaic-banner-8.jpg);" class="mozaic-banner-entry type-3">
						<span class="mozaic-banner-content">
							<span class="subtitle">Services</span>
							<span class="title">E-Commerce</span>
							<span class="description">As a publisher we give you NET 30 days payment. We give you the best paying ads. </span>
						</span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- end : Services -->