<div class="module_slider_client">
<marquee>
  <img alt="" src="/images/module_slider/dgm.png">
  <img alt="" src="/images/module_slider/logo.png">
  <img alt="" src="/images/module_slider/Benchmark_Email_logo.png">
  <img alt="" src="/images/module_slider/netcore.jpg">
  <img alt="" src="/images/module_slider/standard_chartered_logo.png">
  <img alt="" src="/images/module_slider/ibibo.png">
  <img alt="" src="/images/module_slider/hdfc.jpg">
  <img alt="" src="/images/module_slider/worldvsn.jpg">
  <img alt="" src="/images/module_slider/BankBazaar_Logo.png">
  <img alt="" src="/images/module_slider/icici.jpg">
  </marquee>
</div>